<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net451" />
  <package id="Hamilton.Resources" version="1.0.28" targetFramework="net451" />
  <package id="MahApps.Metro" version="1.3.0" targetFramework="net451" />
  <package id="MvvmLightLibs" version="5.2.0.0" targetFramework="net451" />
  <package id="QuickConverter" version="1.2.3.0" targetFramework="net451" />
</packages>